{{#paper-dialog class="flex-50 position-fixed" onClose=(action "closeDialog") clickOutsideToClose=true}}
  {{#paper-dialog-content}}
    {{yield}}
    {{paper-input textarea=true class="flex-100" label="Message" value=customMessage passThru=(hash cols=85 rows=2) onChange=(action (mut customMessage))}}
  {{/paper-dialog-content}}

  {{#paper-dialog-actions class="layout-row"}}
    <span class="flex"></span>
    {{#paper-button onClick=(action "closeDialog")}}Cancel{{/paper-button}}
    {{#paper-button onClick=(action "confirmAction" targetConsent) primary=true}}Send request{{/paper-button}}
  {{/paper-dialog-actions}}
{{/paper-dialog}}
