{{#paper-form onSubmit=(action "login") as |form|}}
  <div class="layout-row">
    {{form.input  label="Username" value=nickname onChange=(action (mut nickname))}}
  </div>
  <div class="layout-row ">
    {{form.input  label="Password" value=password onChange=(action (mut password)) type="password"}}
  </div>
  <div class="layout-row">
    {{#form.submit-button raised=true primary=true}}Login{{/form.submit-button}}
    {{!-- {{#if loading}}
			{{paper-progress-circular}}
		{{/if}} --}}
  </div>
  <div class="layout-row">
    {{#if errorMessage}}
      <span class="error-message">{{errorMessage}}</span>
    {{/if}}
  </div>
{{/paper-form}}
