{{#paper-subheader}}{{yield}}{{/paper-subheader}}
{{#paper-item as |controls|}}

  {{#paper-list class="layout-column flex"}}
    {{#paper-item}}
      {{pikaday-input placeholder="From" maxDate=endDate value=startDate onSelection=(action (mut startDate))}}
    {{/paper-item}}
    {{#paper-item}}
      {{pikaday-input placeholder="To" minDate=startDate value=endDate onSelection=(action (mut endDate))}}
    {{/paper-item}}
  {{/paper-list}}

  <div class="md-secondary-container">
    {{#controls.button iconButton=true secondary=true}}
    {{paper-icon "info" class="flex"}}
    {{#paper-tooltip position="top"}}
      Select a time range to review data from a specific time period.
    {{/paper-tooltip}}
  {{/controls.button}}
  </div>
{{/paper-item}}