$primary: "deep-purple";
@import "color-palette";
$color-cyan: map-merge($color-cyan, ('contrastDefaultColor' : $light-contrast-color));
@import "ember-paper";
@import "ember-power-calendar";
@import "default";
@import "controller";
@import "login";

html,body {
  height:100%;
}

.logo{
  width: 75px;
  height: inherit;

  img {
    width: inherit;
    height: inherit;
  }
}

.vflex-75 {
  height: 75%;
}

.position-fixed {
  position:fixed;
}

div.vertical-line{
  position: relative;
  top: 0;
  left: 19px;
  padding: 0;
  width: 2px; /* Line width */
  background-color: rgb(160, 178, 184); /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  margin-bottom: 10px;
}

.filters{
  height: 100%;
}

.data-item-list{
  overflow-y: scroll;
  height: 90VH;
  max-height: 90VH;

  .data-item {
    position: relative;
    padding-left: 40px;

    &.new {
      opacity: 0;
      animation: new-item-animation .3s linear forwards;
    }

    @keyframes new-item-animation {
      from {
        opacity: 0;
        transform: translateY(-400px);
      }

      to {
        opacity: 1;
        transform : translateY(0);
      }
    }


    .card {
      padding: 10px;
      margin: 10px;
      font-size: 18px;

      .header {
        color: #9E9E9E;
        font-size: 12px;
        .event {
          float: left;
        }
        .date {
          float: right;
        }
      }
      .footer {
        color: #9E9E9E;
        font-size: 12px;
        .policy {
          float: right;
        }
      }
      .message {
        line-height: 30px;
      }

      .attributes{
        ul {
          display: inline-block;
          -webkit-padding-start: 1%;
          max-width: 80%;

          li {
            display: inline-block;
            border: 1px solid rgb(103, 58, 183);
            padding: 5px 10px;
            margin: 5px;
            border-radius: 10px;
          }
        }
      }
    }
    .data-item-icon {
      transition: all .5s ease-in-out;
      position: absolute;
      top: 45px;
      left: -10px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-left: 2px;
      padding-left: 5px;
      padding-top: 5px;
      border: 2px solid white;
      color: white;
      &.ok {
        background-color: #4CAF50;
      }
      &.nok {
        background-color: #F44336;
      }
    }
  }
}

.visualizations{
  height: 100%;
}

/* width */
div.data-item-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
div.data-item-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div.data-item-list::-webkit-scrollbar-thumb {
  background: #00bcd4;
}

/* Handle on hover */
div.data-item-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
