$primary: "cyan";
@import "color-palette";
$color-cyan: map-merge($color-cyan, ('contrastDefaultColor' : $light-contrast-color));
@import "ember-paper";
@import "ember-power-calendar";
@import "default";
@import "controller";
@import "login";

.item-list {
  border-left: 1px solid black;
}

.leaflet-container {
  height: 300px;
}

.leaflet-pane {
  z-index: 50;
}

.leaflet-top {
  z-index: 51;
}