.ember-power-calendar {
 width: 222px;
 margin: 0 auto;
 
 .ember-power-calendar-week:first-child[data-missing-days="1"] {
  padding-left: 32px;
 }
 .ember-power-calendar-week:first-child[data-missing-days="2"] {
  padding-left: 64px;
 }
 .ember-power-calendar-week:first-child[data-missing-days="3"] {
  padding-left: 96px;
 }
 .ember-power-calendar-week:first-child[data-missing-days="4"] {
  padding-left: 128px;
 }
 .ember-power-calendar-week:first-child[data-missing-days="5"] {
  padding-left: 160px;
 }
 .ember-power-calendar-week:first-child[data-missing-days="6"] {
  padding-left: 192px;
 }
 .ember-power-calendar-week:last-child[data-missing-days="1"] {
  padding-right: 32px;
 }
 .ember-power-calendar-week:last-child[data-missing-days="2"] {
  padding-right: 64px;
 }
 .ember-power-calendar-week:last-child[data-missing-days="3"] {
  padding-right: 96px;
 }
 .ember-power-calendar-week:last-child[data-missing-days="4"] {
  padding-right: 128px;
 }
 .ember-power-calendar-week:last-child[data-missing-days="5"] {
  padding-right: 160px;
 }
 .ember-power-calendar-week:last-child[data-missing-days="6"] {
  padding-right: 192px;
 }
 .ember-power-calendar-day,
 .ember-power-calendar-weekday {
  max-width: 30px;
  max-height: 30px;
  width: 30px;
  height: 30px;
 }
 .ember-power-calendar-week,
 .ember-power-calendar-weekdays {
  height: 32px;
  padding-left: 0;
  padding-right: 0;
 }
 .ember-power-calendar-day {
  color: #bbb;
 }
 .ember-power-calendar-weekdays {
  color: #333;
 }
 .ember-power-calendar-nav-control {
  color: #0078c9;
 }
 .ember-power-calendar-nav-control:focus {
  color: #30acff;
 }
 .ember-power-calendar-day--current-month {
  color: #656D78;
  background-color: #F5F7FA;
 }
 .ember-power-calendar-day--today,
 .ember-power-calendar-day:not([disabled]):hover {
  background-color: #eee;
 }
 .ember-power-calendar-day--selected.ember-power-calendar-day--range-end,
 .ember-power-calendar-day--selected.ember-power-calendar-day--range-end:hover,
 .ember-power-calendar-day--selected.ember-power-calendar-day--range-start,
 .ember-power-calendar-day--selected.ember-power-calendar-day--range-start:hover {
  background-color: #96d5ff;
 }
 .ember-power-calendar-day--selected,
 .ember-power-calendar-day--selected:not([disabled]):hover {
  background-color: #c9e9ff;
  color: #656D78;
 }
 .ember-power-calendar-day--other-month:not([disabled]):hover {
  color: #656D78;
 }
}
