.ember-power-calendar {
 margin: 0 auto;
 @include ember-power-calendar($cell-size: 30px);
}

.md-subheader-content {
 color: rgba(0, 0, 0, 0.54);
}

.md-toolbar-tools {
 .md-button {
  &.title-button {
   color: white;
   font-size: 24px;
   font-weight: 400;
   text-transform: initial;
   margin: 0;
   border: none;
   .md-ripple-container {
    display: none;
   }
   &.md-focused,
   &:active,
   &:hover {
    background-color: transparent;
   }
  }
 }
}

.md-button {
 color: rgba(0, 0, 0, 0.87);
 &:hover {
  background-color: rgba(0, 0, 0, 0.1);
 }
}

md-list-item {
 .md-list-item-inner {
  .md-secondary-container {
   md-icon {
    color: rgba(0, 0, 0, 0.87);
   }
  }
 }
}

.md-tooltip {
 font-size: 14px;
 background-color: rgb(97, 97, 97);
}

a {
  color: #337ab7;
  text-decoration: none;
}

html {
 font-family: Roboto, sans-serif;
 font-size: 16px;
}
