{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to "subject"}}{{#paper-button}}Subject{{/paper-button}}{{/link-to}}
    {{#link-to "data-controller"}}{{#paper-button}}Data controller{{/paper-button}}{{/link-to}}
    {{#link-to "authority"}}{{#paper-button}}Authority{{/paper-button}}{{/link-to}}
  </div>
{{/paper-toolbar}}

{{outlet}}
