{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#link-to "dashboard"}}
      {{#paper-button class="title-button" }}
        <h1>Transparency & Compliance Dashboard</h1>
      {{/paper-button}}
    {{/link-to}}
    <span class="flex"></span>
    <div class="logo">
      <img src="assets/images/special_logo_crop_alpha.png" alt="SPECIAL"/>
    </div>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{outlet}}
