{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#link-to "dashboard"}}
      {{#paper-button class="title-button" }}
        <h1>Compliance checker</h1>
      {{/paper-button}}
    {{/link-to}}
    <span class="flex"></span>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

{{outlet}}
