<div class="login-box">
  {{#paper-card as |card|}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        Login
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#card.content}}
      {{mu-login}}
    {{/card.content}}
  {{/paper-card}}
</div>


<div class="registration-box">
  {{#paper-card as |card|}}
    {{#card.title}}
      Register
    {{/card.title}}
    {{#card.content}}
      {{mu-register}}
    {{/card.content}}
  {{/paper-card}}
</div>
